<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<H1>Type funds to add</H1>
<form action="/money" method="post">
    <input type="text" name="funds" id="funds" placeholder="Funds">
<button type="sunmit">Submit</button>
</form> 
</body>
</html>