<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <h1>Dashboard</h1>

    <nav display="flex">
        <a href="/check_balance">Check Balance</a> |
        <a href="/view_loans">View Active Loan Requests</a> |
        <a href="/borrowlist/<%=id%>">Loan History</a> |
        <a href="/add_funds">Add Funds to account</a> |
        <a href="/">Logout</a>
    </nav>
    
</body>
</html>