<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <h1>Dashboard</h1>

    <nav>
        <a href="/check_trans">Check all Transactions</a> |
        <a href="/">Logout</a>
    </nav>
    
</body>
</html>